.menu-button {
    position: fixed;
    z-index: 2;
}

.offcanvas {
    position: fixed;
    margin-top: 10.75rem;
}

.btn-custom {
    background-color: #0A98D8;
    color: #fff;
    border-color: #0A98D8;
}

.btn-custom:hover {
    color: #fff;
    background-color: #0084C2;
    border-color: #0084C2;
}

.btn-custom:active {
    background-color: #0056b3;
    color: #fff;
}

.btn-custom:focus {
    background-color: #0056b3;
    border-color: #0056b3;
}
